.trip-form {
    margin-bottom: 20px;
  }
  
  .trip-form input {
    margin-right: 10px;
    padding: 5px;
  }
  
  .trip-form button {
    padding: 5px 10px;
  }
  
  .trip-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding: 30px;
    border-top: 2px solid #eee;
  }
  
  .trip {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 40px;
  }
  
  .level-1 {
    margin-top: 20px;
  }
  
  .level-2 {
    margin-top: 0px;
    transform: translateY(-15px);
  }
  
  .trip-line {
    display: flex;
    align-items: center;
  }
  
  .dot {
    height: 12px;
    width: 12px;
    background-color: #5e5eff;
    border-radius: 50%;
    margin-right: 8px;
  }
  
  .trip-label {
    font-weight: bold;
    color: #444;
  }
  
  .arrow {
    margin-left: 8px;
    color: orange;
    font-size: 18px;
  }
  